@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.logo{
    font-size: 1.7em;
    cursor:pointer;
}
.google{
    color:#b50000;
}
.youtube{
    color:red;
    font-size:2em;
}